<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar class="headers">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>person</mat-icon>
    </button>
    <span>Hospital-hh</span>
    <span class="example-spacer"></span>
   
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>