<mat-toolbar class="appfooter">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>info</mat-icon>
    </button>
    <div class="footer-info"><p><span class="subtitle">Desarrollado por :</span> <br>Universidad Panamericana Campus Aguascalientes</p></div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>businesss</mat-icon>
    </button>
  </mat-toolbar>